
.main_menu_traffic{position: relative;width: 100%;height: 80px;}
.main_menu_traffic a{color: white; text-decoration: none}
.part_left_menu{width: 50%;position: relative; float: left;}
.part_left_menu a{padding: 2.5%; float: left}
.part_right_menu{width: 50%;position: relative;float: right;}
.part_right_menu .ad-r{position: relative;background: blue; padding: 4.5%; float: right;}
.part_right_menu .lg-r{position: relative;float: right;padding: 4.5%}
